export const authCfg = {
    userPoolId: 'Your user pool id here',
    clientId: 'Your client id here'
}

export const defaultRegion = 'Your region';
export const identityPoolId = 'Your user identity pool id';
export const credentialName = `cognito-idp.${defaultRegion}.amazonaws.com/${authCfg.userPoolId}`;

export const myBucket = 'Your Bucket name';
export const myBucket = 'Your bucket name';